body{
    font-family: 'Poppins', sans-serif;
}
/* Navbar CSS Style */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.shortcut{
    display: flex;
}
.shortcut li{
    list-style: none;
    margin: 10px;
}
li a{
    text-decoration: none;
    color: black;
}

/* preebok */
.center{
    text-align: center;
}

.container{
    /* background-color: rgb(173, 167, 167); */
    width: 992px;
    margin:2% 10%;
    padding-left: 10px;
}

.advertisement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
h1{
    font-size: 42px;
    font-weight: 700;
}
.camera{
    width: 440px;
    height: 414px;
}
.preebook-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 15px;
}
.sponcer{
    padding-top: 100px;
}
hr{
    border: 1px solid grey;
}
.sponcer-title{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* product details */

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 476px;
    padding-left: 25px;
    padding-top: 10px;
    box-shadow: 2px 10px 10px ;
}
.product img{
    width: 300px;
    height: 256px;
}
.fa-star{
    color: goldenrod;
}
h5{
    text-align-last:right;
    color: #E02C6D;
}
/* Message section */
.message-area{
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.message-area, .right{
    height: 100%;
}
form>button{
    background-color: #E02C6D;
    color: white;
}
/* Fotter css */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.social-media, .fab{
    margin-left: 10px;
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
    
   
    .sponcer{
        display: none;
    }.container{
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
    }
    nav{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .advertisement{
        display: grid;
        grid-template-columns: repeat(1, 1fr );
    }
    .demo{
        width: 70%;
    }
    .camera img{
        width: 70%;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .message-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}
